USE [master]
GO
/****** Object:  Database [MeDVLD]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE DATABASE [MeDVLD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeDVLD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MeDVLD.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MeDVLD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MeDVLD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeDVLD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeDVLD]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLogin] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NationalID] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
 CONSTRAINT [PK__People__3214EC272EBFE7A1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Users_View]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Users_View] AS
SELECT 
    U.ID AS UserID,
    U.PersonID,
    ISNULL(P.FirstName, '') + ' ' +
    ISNULL(P.SecondName, '') + ' ' +
    ISNULL(P.ThirdName, '') + ' ' +
    ISNULL(P.LastName, '') AS FullName,
    U.UserName,
    U.IsActive
FROM Users U
INNER JOIN People P ON U.PersonID = P.ID;
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[LicenseClassID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[PaidFees] [decimal](10, 2) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[IssueReason] [tinyint] NOT NULL,
	[LicenseStatus] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Drivers_View]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Drivers_View] AS
SELECT 
    d.ID AS DriverID,
    d.PersonID,
    p.NationalID,
    p.FirstName + ' ' + p.SecondName + ' ' + ISNULL(p.ThirdName,'') + ' ' + p.LastName AS FullName,
    d.CreatedDate,
    (
        SELECT COUNT(l.ID)
        FROM dbo.Licenses l
        WHERE l.IsActive = 1 AND l.DriverID = d.ID
    ) AS NumberOfActiveLicenses
FROM dbo.Drivers d
JOIN dbo.People p ON d.PersonID = p.ID;
GO
/****** Object:  Table [dbo].[TestAppointments]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestAppointments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LocalDrivingLicenseApplicationID] [int] NOT NULL,
	[TestTypeID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[PaidFees] [decimal](10, 2) NOT NULL,
	[IsLocked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TestAppointmentID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[TestResult] [tinyint] NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseClasses]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseClasses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[ClassDescription] [nvarchar](500) NOT NULL,
	[MinimumAllowedAge] [tinyint] NOT NULL,
	[ValidityLength] [tinyint] NOT NULL,
	[LicenseFee] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantPersonID] [int] NOT NULL,
	[ApplicationTypeID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[ApplicationDate] [datetime] NOT NULL,
	[ApplicationStatus] [tinyint] NOT NULL,
	[LastStatusDate] [datetime] NOT NULL,
	[PaidFees] [decimal](10, 2) NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalDrivingLicenseApplications]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDrivingLicenseApplications](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[LicenseClassID] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LocalDrivingLicenseApplications_View]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LocalDrivingLicenseApplications_View] AS
SELECT 
    ldla.ID AS LocalDrivingLicenseApplicationID,
    lc.ClassName,
    p.NationalID,
    p.FirstName + ' ' + p.SecondName + ' ' + ISNULL(p.ThirdName,'') + ' ' + p.LastName AS FullName,
    a.ApplicationDate,
    (
        SELECT COUNT(t.ID)
        FROM dbo.Tests t
        JOIN dbo.TestAppointments ta ON t.TestAppointmentID = ta.ID
        WHERE ta.LocalDrivingLicenseApplicationID = ldla.ID
          AND t.TestResult = 1
    ) AS PassedTestCount,
    CASE a.ApplicationStatus
        WHEN 1 THEN 'New'
        WHEN 2 THEN 'Cancelled'
        WHEN 3 THEN 'Completed'
        ELSE 'Unknown'
    END AS Status
FROM dbo.LocalDrivingLicenseApplications ldla
JOIN dbo.Applications a ON ldla.ApplicationID = a.ID
JOIN dbo.LicenseClasses lc ON ldla.LicenseClassID = lc.ID
JOIN dbo.People p ON a.ApplicantPersonID = p.ID;
GO
/****** Object:  Table [dbo].[TestTypes]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TestTypeTitle] [nvarchar](100) NOT NULL,
	[TestTypeDescription] [nvarchar](500) NOT NULL,
	[TestTypeFees] [decimal](10, 2) NOT NULL,
	[IsRequired] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TestAppointments_View]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TestAppointments_View] AS
SELECT
    ta.ID AS TestAppointmentID,
    ta.LocalDrivingLicenseApplicationID,
    tt.TestTypeTitle,
    lc.ClassName,
    ta.AppointmentDate,
    ta.PaidFees,
    p.FirstName + ' ' + p.SecondName + ' ' + ISNULL(p.ThirdName,'') + ' ' + p.LastName AS FullName,
    ta.IsLocked
FROM dbo.TestAppointments ta
JOIN dbo.TestTypes tt ON ta.TestTypeID = tt.ID
JOIN dbo.LocalDrivingLicenseApplications ldla ON ta.LocalDrivingLicenseApplicationID = ldla.ID
JOIN dbo.Applications a ON ldla.ApplicationID = a.ID
JOIN dbo.People p ON a.ApplicantPersonID = p.ID
JOIN dbo.LicenseClasses lc ON ldla.LicenseClassID = lc.ID;
GO
/****** Object:  Table [dbo].[ApplicationTypes]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationTypeTitle] [nvarchar](150) NOT NULL,
	[ApplicationFees] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetainedLicenses]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetainedLicenses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseID] [int] NOT NULL,
	[FineFees] [decimal](10, 2) NOT NULL,
	[DetainDate] [smalldatetime] NOT NULL,
	[IsReleased] [bit] NOT NULL,
	[ReleaseDate] [smalldatetime] NULL,
	[ReleaseApplicationID] [int] NULL,
	[ReleasedByUserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternationalLicenses]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternationalLicenses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[IssuedUsingLocalLicenseID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IssuingCountryID] [int] NOT NULL,
	[IssueDate] [smalldatetime] NOT NULL,
	[ExpirationDate] [smalldatetime] NOT NULL,
	[PaidFees] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseClassTests]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseClassTests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseClassID] [int] NOT NULL,
	[TestTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalCenters]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalCenters](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CenterName] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalCenterTests]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalCenterTests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CenterID] [int] NOT NULL,
	[TestTypeID] [int] NOT NULL,
	[Fee] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalTestResults]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalTestResults](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestMedicalTestID] [int] NOT NULL,
	[Result] [bit] NOT NULL,
	[ResultDetails] [nvarchar](1000) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedByUserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalTestTypes]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalTestTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DefaultFee] [decimal](10, 2) NOT NULL,
	[IsRequired] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ReferenceNumber] [nvarchar](100) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestMedicalTests]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestMedicalTests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[TestTypeID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ExamDate] [datetime] NULL,
	[PaidFees] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViolationPayments]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViolationPayments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ViolationID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[PaidAmount] [decimal](10, 2) NOT NULL,
	[PaidDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Violations]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Violations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ViolationTypeID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
	[LicenseID] [int] NULL,
	[Location] [nvarchar](100) NULL,
	[IssueDate] [datetime] NOT NULL,
	[FineAmount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViolationTypes]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViolationTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ViolationName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[BaseFineAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [CountryName]) VALUES (194, N'Egypt')
INSERT [dbo].[Countries] ([ID], [CountryName]) VALUES (198, N'Germany')
INSERT [dbo].[Countries] ([ID], [CountryName]) VALUES (195, N'Saudi Arabia')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([ID], [NationalID], [FirstName], [SecondName], [ThirdName], [LastName], [Gender], [DateOfBirth], [CountryID], [Address], [Phone], [Email], [ImagePath]) VALUES (1, N'Q1', N'Esalm', N'Red', N'L00l', N'MOOD', 0, CAST(N'2008-05-28' AS Date), 194, N'ew3w32ws', N'1234', N'a1.@gemail.com', N'C:\Users\elkarma\Downloads\535926405_4350980691797461_2242435806127893056_n.jpg')
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [PersonID], [UserName], [PasswordHash], [IsActive], [LastLogin], [CreatedAt]) VALUES (1, 1, N'admin', N'umkW2WgBniZAW0NjGF19Ptdi2MD6vXcPQSRFRKn4rpj3fsCtyasxAJT88rhNh0CR', 1, CAST(N'2026-05-28T09:12:02.380' AS DateTime), CAST(N'2026-05-28T08:50:34.810' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Applications_ApplicantPersonID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ApplicantPersonID] ON [dbo].[Applications]
(
	[ApplicantPersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_ApplicationTypeID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ApplicationTypeID] ON [dbo].[Applications]
(
	[ApplicationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Countries_CountryName]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [UQ_Countries_CountryName] UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetainedLicenses_LicenseID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_DetainedLicenses_LicenseID] ON [dbo].[DetainedLicenses]
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Drivers_PersonID]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[Drivers] ADD  CONSTRAINT [UQ_Drivers_PersonID] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Drivers_PersonID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Drivers_PersonID] ON [dbo].[Drivers]
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IntLicenses_DriverID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_IntLicenses_DriverID] ON [dbo].[InternationalLicenses]
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LicenseClasses_ClassName]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[LicenseClasses] ADD  CONSTRAINT [UQ_LicenseClasses_ClassName] UNIQUE NONCLUSTERED 
(
	[ClassName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_LicenseClassTests]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[LicenseClassTests] ADD  CONSTRAINT [UQ_LicenseClassTests] UNIQUE NONCLUSTERED 
(
	[LicenseClassID] ASC,
	[TestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenseClassTests_LicenseClassID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_LicenseClassTests_LicenseClassID] ON [dbo].[LicenseClassTests]
(
	[LicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Licenses_ApplicationID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Licenses_ApplicationID] ON [dbo].[Licenses]
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Licenses_DriverID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Licenses_DriverID] ON [dbo].[Licenses]
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_LDLA_App_Class]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_LDLA_App_Class] ON [dbo].[LocalDrivingLicenseApplications]
(
	[ApplicationID] ASC,
	[LicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MedicalCenters_Name]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_MedicalCenters_Name] ON [dbo].[MedicalCenters]
(
	[CenterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MedicalCenterTests]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[MedicalCenterTests] ADD  CONSTRAINT [UQ_MedicalCenterTests] UNIQUE NONCLUSTERED 
(
	[CenterID] ASC,
	[TestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MCT_CenterID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_MCT_CenterID] ON [dbo].[MedicalCenterTests]
(
	[CenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MTR_RequestMedicalTestID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_MTR_RequestMedicalTestID] ON [dbo].[MedicalTestResults]
(
	[RequestMedicalTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MedicalTestTypes_Name]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_MedicalTestTypes_Name] ON [dbo].[MedicalTestTypes]
(
	[TestName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentDetails_PaymentID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentDetails_PaymentID] ON [dbo].[PaymentDetails]
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_ApplicationID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_ApplicationID] ON [dbo].[Payments]
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Payments_RefNumber]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Payments_RefNumber] ON [dbo].[Payments]
(
	[ReferenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_People_Email]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [UQ_People_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_People_NationalID]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [UQ_People_NationalID] UNIQUE NONCLUSTERED 
(
	[NationalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Permissions_Name]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [UQ_Permissions_Name] UNIQUE NONCLUSTERED 
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RMT_ApplicationID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_RMT_ApplicationID] ON [dbo].[RequestMedicalTests]
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RolePermissions]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[RolePermissions] ADD  CONSTRAINT [UQ_RolePermissions] UNIQUE NONCLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_RoleID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_RoleID] ON [dbo].[RolePermissions]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Roles_RoleName]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestAppointments_LDLA]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_TestAppointments_LDLA] ON [dbo].[TestAppointments]
(
	[LocalDrivingLicenseApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tests_TestAppointmentID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tests_TestAppointmentID] ON [dbo].[Tests]
(
	[TestAppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TestTypes_Title]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_TestTypes_Title] ON [dbo].[TestTypes]
(
	[TestTypeTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserRoles]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [UQ_UserRoles] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_UserID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_UserID] ON [dbo].[UserRoles]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_UserName]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_PersonID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_PersonID] ON [dbo].[Users]
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ViolationPayments_ViolationID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_ViolationPayments_ViolationID] ON [dbo].[ViolationPayments]
(
	[ViolationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Violations_LicenseID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Violations_LicenseID] ON [dbo].[Violations]
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Violations_PeopleID]    Script Date: 5/28/2026 9:24:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Violations_PeopleID] ON [dbo].[Violations]
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ViolationTypes_Name]    Script Date: 5/28/2026 9:24:32 AM ******/
ALTER TABLE [dbo].[ViolationTypes] ADD  CONSTRAINT [UQ_ViolationTypes_Name] UNIQUE NONCLUSTERED 
(
	[ViolationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_ApplicationDate]  DEFAULT (getdate()) FOR [ApplicationDate]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_Status]  DEFAULT ((1)) FOR [ApplicationStatus]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_LastStatusDate]  DEFAULT (getdate()) FOR [LastStatusDate]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_PaidFees]  DEFAULT ((0)) FOR [PaidFees]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApplicationTypes] ADD  CONSTRAINT [DF_ApplicationTypes_Fees]  DEFAULT ((0)) FOR [ApplicationFees]
GO
ALTER TABLE [dbo].[DetainedLicenses] ADD  CONSTRAINT [DF_DetainedLicenses_FineFees]  DEFAULT ((0)) FOR [FineFees]
GO
ALTER TABLE [dbo].[DetainedLicenses] ADD  CONSTRAINT [DF_DetainedLicenses_DetainDate]  DEFAULT (getdate()) FOR [DetainDate]
GO
ALTER TABLE [dbo].[DetainedLicenses] ADD  CONSTRAINT [DF_DetainedLicenses_IsReleased]  DEFAULT ((0)) FOR [IsReleased]
GO
ALTER TABLE [dbo].[Drivers] ADD  CONSTRAINT [DF_Drivers_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[InternationalLicenses] ADD  CONSTRAINT [DF_IntLicenses_IssueDate]  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[InternationalLicenses] ADD  CONSTRAINT [DF_IntLicenses_PaidFees]  DEFAULT ((0)) FOR [PaidFees]
GO
ALTER TABLE [dbo].[InternationalLicenses] ADD  CONSTRAINT [DF_IntLicenses_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InternationalLicenses] ADD  CONSTRAINT [DF_IntLicenses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LicenseClasses] ADD  CONSTRAINT [DF_LicenseClasses_MinAge]  DEFAULT ((18)) FOR [MinimumAllowedAge]
GO
ALTER TABLE [dbo].[LicenseClasses] ADD  CONSTRAINT [DF_LicenseClasses_Validity]  DEFAULT ((1)) FOR [ValidityLength]
GO
ALTER TABLE [dbo].[LicenseClasses] ADD  CONSTRAINT [DF_LicenseClasses_Fee]  DEFAULT ((0)) FOR [LicenseFee]
GO
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [DF_Licenses_IssueDate]  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [DF_Licenses_PaidFees]  DEFAULT ((0)) FOR [PaidFees]
GO
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [DF_Licenses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [DF_Licenses_IssueReason]  DEFAULT ((1)) FOR [IssueReason]
GO
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [DF_Licenses_Status]  DEFAULT ('Active') FOR [LicenseStatus]
GO
ALTER TABLE [dbo].[MedicalCenters] ADD  CONSTRAINT [DF_MedicalCenters_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MedicalCenterTests] ADD  CONSTRAINT [DF_MedicalCenterTests_Fee]  DEFAULT ((0)) FOR [Fee]
GO
ALTER TABLE [dbo].[MedicalTestResults] ADD  CONSTRAINT [DF_MTR_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MedicalTestTypes] ADD  CONSTRAINT [DF_MedicalTestTypes_DefaultFee]  DEFAULT ((0)) FOR [DefaultFee]
GO
ALTER TABLE [dbo].[MedicalTestTypes] ADD  CONSTRAINT [DF_MedicalTestTypes_IsRequired]  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_PaymentDate]  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[RequestMedicalTests] ADD  CONSTRAINT [DF_RequestMedicalTests_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[RequestMedicalTests] ADD  CONSTRAINT [DF_RequestMedicalTests_PaidFees]  DEFAULT ((0)) FOR [PaidFees]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TestAppointments] ADD  CONSTRAINT [DF_TestAppointments_PaidFees]  DEFAULT ((0)) FOR [PaidFees]
GO
ALTER TABLE [dbo].[TestAppointments] ADD  CONSTRAINT [DF_TestAppointments_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[Tests] ADD  CONSTRAINT [DF_Tests_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TestTypes] ADD  CONSTRAINT [DF_TestTypes_IsRequired]  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ViolationPayments] ADD  CONSTRAINT [DF_ViolationPayments_PaidDate]  DEFAULT (getdate()) FOR [PaidDate]
GO
ALTER TABLE [dbo].[ViolationPayments] ADD  CONSTRAINT [DF_ViolationPayments_Status]  DEFAULT ('Paid') FOR [Status]
GO
ALTER TABLE [dbo].[Violations] ADD  CONSTRAINT [DF_Violations_IssueDate]  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Violations] ADD  CONSTRAINT [DF_Violations_FineAmount]  DEFAULT ((0)) FOR [FineAmount]
GO
ALTER TABLE [dbo].[Violations] ADD  CONSTRAINT [DF_Violations_Status]  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[ViolationTypes] ADD  CONSTRAINT [DF_ViolationTypes_BaseFine]  DEFAULT ((0)) FOR [BaseFineAmount]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_ApplicantPersonID] FOREIGN KEY([ApplicantPersonID])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_ApplicantPersonID]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_ApplicationTypeID] FOREIGN KEY([ApplicationTypeID])
REFERENCES [dbo].[ApplicationTypes] ([ID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_ApplicationTypeID]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_CreatedByUserID]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DetainedLicenses_LicenseID] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[Licenses] ([ID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK_DetainedLicenses_LicenseID]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DetainedLicenses_ReleaseApplicationID] FOREIGN KEY([ReleaseApplicationID])
REFERENCES [dbo].[Applications] ([ID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK_DetainedLicenses_ReleaseApplicationID]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DetainedLicenses_ReleasedByUserID] FOREIGN KEY([ReleasedByUserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK_DetainedLicenses_ReleasedByUserID]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_CreatedByUserID]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_PersonID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_PersonID]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK_IntLicenses_ApplicationID] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK_IntLicenses_ApplicationID]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK_IntLicenses_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK_IntLicenses_CreatedByUserID]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK_IntLicenses_DriverID] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([ID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK_IntLicenses_DriverID]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK_IntLicenses_IssuingCountryID] FOREIGN KEY([IssuingCountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK_IntLicenses_IssuingCountryID]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK_IntLicenses_LocalLicenseID] FOREIGN KEY([IssuedUsingLocalLicenseID])
REFERENCES [dbo].[Licenses] ([ID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK_IntLicenses_LocalLicenseID]
GO
ALTER TABLE [dbo].[LicenseClassTests]  WITH CHECK ADD  CONSTRAINT [FK_LicenseClassTests_LicenseClassID] FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClasses] ([ID])
GO
ALTER TABLE [dbo].[LicenseClassTests] CHECK CONSTRAINT [FK_LicenseClassTests_LicenseClassID]
GO
ALTER TABLE [dbo].[LicenseClassTests]  WITH CHECK ADD  CONSTRAINT [FK_LicenseClassTests_TestTypeID] FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[TestTypes] ([ID])
GO
ALTER TABLE [dbo].[LicenseClassTests] CHECK CONSTRAINT [FK_LicenseClassTests_TestTypeID]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_Licenses_ApplicationID] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_Licenses_ApplicationID]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_Licenses_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_Licenses_CreatedByUserID]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_Licenses_DriverID] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([ID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_Licenses_DriverID]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_Licenses_LicenseClassID] FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClasses] ([ID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_Licenses_LicenseClassID]
GO
ALTER TABLE [dbo].[LocalDrivingLicenseApplications]  WITH CHECK ADD  CONSTRAINT [FK_LDLA_ApplicationID] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ID])
GO
ALTER TABLE [dbo].[LocalDrivingLicenseApplications] CHECK CONSTRAINT [FK_LDLA_ApplicationID]
GO
ALTER TABLE [dbo].[LocalDrivingLicenseApplications]  WITH CHECK ADD  CONSTRAINT [FK_LDLA_LicenseClassID] FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClasses] ([ID])
GO
ALTER TABLE [dbo].[LocalDrivingLicenseApplications] CHECK CONSTRAINT [FK_LDLA_LicenseClassID]
GO
ALTER TABLE [dbo].[MedicalCenterTests]  WITH CHECK ADD  CONSTRAINT [FK_MCT_CenterID] FOREIGN KEY([CenterID])
REFERENCES [dbo].[MedicalCenters] ([ID])
GO
ALTER TABLE [dbo].[MedicalCenterTests] CHECK CONSTRAINT [FK_MCT_CenterID]
GO
ALTER TABLE [dbo].[MedicalCenterTests]  WITH CHECK ADD  CONSTRAINT [FK_MCT_TestTypeID] FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[MedicalTestTypes] ([ID])
GO
ALTER TABLE [dbo].[MedicalCenterTests] CHECK CONSTRAINT [FK_MCT_TestTypeID]
GO
ALTER TABLE [dbo].[MedicalTestResults]  WITH CHECK ADD  CONSTRAINT [FK_MTR_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[MedicalTestResults] CHECK CONSTRAINT [FK_MTR_CreatedByUserID]
GO
ALTER TABLE [dbo].[MedicalTestResults]  WITH CHECK ADD  CONSTRAINT [FK_MTR_RequestID] FOREIGN KEY([RequestMedicalTestID])
REFERENCES [dbo].[RequestMedicalTests] ([ID])
GO
ALTER TABLE [dbo].[MedicalTestResults] CHECK CONSTRAINT [FK_MTR_RequestID]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDetails_PaymentID] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([ID])
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [FK_PaymentDetails_PaymentID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_ApplicationID] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_ApplicationID]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_CountryID]
GO
ALTER TABLE [dbo].[RequestMedicalTests]  WITH CHECK ADD  CONSTRAINT [FK_RMT_ApplicationID] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ID])
GO
ALTER TABLE [dbo].[RequestMedicalTests] CHECK CONSTRAINT [FK_RMT_ApplicationID]
GO
ALTER TABLE [dbo].[RequestMedicalTests]  WITH CHECK ADD  CONSTRAINT [FK_RMT_CenterID] FOREIGN KEY([CenterID])
REFERENCES [dbo].[MedicalCenters] ([ID])
GO
ALTER TABLE [dbo].[RequestMedicalTests] CHECK CONSTRAINT [FK_RMT_CenterID]
GO
ALTER TABLE [dbo].[RequestMedicalTests]  WITH CHECK ADD  CONSTRAINT [FK_RMT_TestTypeID] FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[MedicalTestTypes] ([ID])
GO
ALTER TABLE [dbo].[RequestMedicalTests] CHECK CONSTRAINT [FK_RMT_TestTypeID]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_PermissionID] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([ID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_PermissionID]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_RoleID]
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointments_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[TestAppointments] CHECK CONSTRAINT [FK_TestAppointments_CreatedByUserID]
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointments_LDLA] FOREIGN KEY([LocalDrivingLicenseApplicationID])
REFERENCES [dbo].[LocalDrivingLicenseApplications] ([ID])
GO
ALTER TABLE [dbo].[TestAppointments] CHECK CONSTRAINT [FK_TestAppointments_LDLA]
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointments_TestTypeID] FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[TestTypes] ([ID])
GO
ALTER TABLE [dbo].[TestAppointments] CHECK CONSTRAINT [FK_TestAppointments_TestTypeID]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_CreatedByUserID]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_TestAppointmentID] FOREIGN KEY([TestAppointmentID])
REFERENCES [dbo].[TestAppointments] ([ID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_TestAppointmentID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_RoleID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_UserID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_PersonID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_PersonID]
GO
ALTER TABLE [dbo].[ViolationPayments]  WITH CHECK ADD  CONSTRAINT [FK_ViolationPayments_PaymentID] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([ID])
GO
ALTER TABLE [dbo].[ViolationPayments] CHECK CONSTRAINT [FK_ViolationPayments_PaymentID]
GO
ALTER TABLE [dbo].[ViolationPayments]  WITH CHECK ADD  CONSTRAINT [FK_ViolationPayments_ViolationID] FOREIGN KEY([ViolationID])
REFERENCES [dbo].[Violations] ([ID])
GO
ALTER TABLE [dbo].[ViolationPayments] CHECK CONSTRAINT [FK_ViolationPayments_ViolationID]
GO
ALTER TABLE [dbo].[Violations]  WITH CHECK ADD  CONSTRAINT [FK_Violations_LicenseID] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[Licenses] ([ID])
GO
ALTER TABLE [dbo].[Violations] CHECK CONSTRAINT [FK_Violations_LicenseID]
GO
ALTER TABLE [dbo].[Violations]  WITH CHECK ADD  CONSTRAINT [FK_Violations_PeopleID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Violations] CHECK CONSTRAINT [FK_Violations_PeopleID]
GO
ALTER TABLE [dbo].[Violations]  WITH CHECK ADD  CONSTRAINT [FK_Violations_ViolationTypeID] FOREIGN KEY([ViolationTypeID])
REFERENCES [dbo].[ViolationTypes] ([ID])
GO
ALTER TABLE [dbo].[Violations] CHECK CONSTRAINT [FK_Violations_ViolationTypeID]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CK_Applications_Status] CHECK  (([ApplicationStatus]=(3) OR [ApplicationStatus]=(2) OR [ApplicationStatus]=(1)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CK_Applications_Status]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [CK_Licenses_IssueReason] CHECK  (([IssueReason]=(4) OR [IssueReason]=(3) OR [IssueReason]=(2) OR [IssueReason]=(1)))
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [CK_Licenses_IssueReason]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [CK_People_Gender] CHECK  (([Gender]=(1) OR [Gender]=(0)))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [CK_People_Gender]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [CK_Tests_Result] CHECK  (([TestResult]=(1) OR [TestResult]=(0)))
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [CK_Tests_Result]
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserLastLogin]    Script Date: 5/28/2026 9:24:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserLastLogin]
    @UserID INT
AS
BEGIN
    UPDATE Users
    SET LastLogin = GETDATE()
    WHERE ID = @UserID
END
GO
USE [master]
GO
